{% extends 'newsletter_base.html' %}

{% block jumbotron %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">

    <h1>Sign up for our Newsletter:</h1>

    <p>By signing up for the Randora Newsletter, you can make sure you stay on the cutting edge with the latest information regarding the Randora Framework.</p>

    <form class="form-horizontal" method="POST">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Sign Up">
    </form>
  
  </div>
{% endblock %}

