{% extends 'main_base.html' %}

{% block jumbotron %}
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">

    <h1>Randora Framework: </h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac varius ligula. Phasellus lacinia volutpat velit sit amet vulputate. Sed consequat malesuada ultrices. Sed sapien nunc, luctus nec justo id, tempus aliquet lacus. Sed eu rhoncus velit. Morbi ac varius tortor. Cras eu scelerisque dui, ornare facilisis urna. Ut in viverra nisi. Ut non lacinia sapien. Fusce rutrum lectus nec pulvinar laoreet. Aliquam vel fringilla urna.

      Maecenas aliquam est ut orci feugiat pellentesque. Nunc elit nisl, facilisis eu euismod a, aliquam ac ipsum. Quisque ex tellus, tempor vel nibh in, varius consequat risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque id purus enim. Curabitur non ornare lectus. Cras ornare velit ut turpis efficitur blandit. Duis quis neque a nulla eleifend gravida. Morbi sed lacus in augue imperdiet lobortis. Fusce condimentum at nisl in feugiat. Nulla pulvinar ut justo a tincidunt. Donec imperdiet diam in dui rhoncus, at placerat leo aliquet. Donec sagittis ut est sit amet pellentesque. Morbi id lacus risus. Donec quis bibendum lacus. Quisque vitae feugiat mi. 
    </p>
  
  </div>
{% endblock %}